<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Guessing</title>

</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<div ng-app="myApp" ng-controller="myCtrl">
		<FORM name="form">
			<div ng-view></div>
		</FORM>
	</div>

<script>
var app = angular.module("myApp", ["ngRoute"]);

app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        template : '<BR><center><FONT size="5">Hi, I have made up a number between 1 and 100.<BR><BR>You have 8 attempts to guess this number.</font><BR><BR><BR><FONT size="4">Try now: </font><INPUT  TYPE="text" NAME="input" value="" size="15"><input  type="button" ng-click="checkInput();" value="   Check   "><BR><BR><div ALIGN="right">Created by Appseng<a ng-click="showSavedNumber()">.</a></div>'
    })
    .when("/greater", {
        template : '<BR><BR><BR><center><FONT size="5" color="Darkslateblue">!!!Your number is greater!!!</font><BR><BR><BR><BR><FONT size="4">Try now: </font><INPUT  TYPE="text" NAME="input" value="" size="15"><input  type="button" ng-click="checkInput();" value="   Check   "></center>'
    })
    .when("/littler", {
        template : '<BR><BR><BR><center><FONT size="5" color="Darkslateblue">!!!Your number is littler!!!</font><BR><BR><BR><BR><FONT size="4">Try now: </font><INPUT  TYPE="text" NAME="input" value="" size="15"><input  type="button" ng-click="checkInput();" value="   Check   "></center>'
    })
    .when("/victory", {
        template : '<BR><BR><BR><BR><center><FONT size="6" color="Darkslateblue"><B>Congratulations</B>, you have won!!!</font></center><BR><center><input type="button" name="again" value="   Play again "  ng-click="reload()"></center>'
    });
});

app.controller('myCtrl', function($scope) {
    $scope.n = -1;
    $scope.i = 0;
    $scope.setRndNumber = function() {
		do {
			$scope.n = Math.ceil(Math.random()*100);
		} while ($scope.n>100 || $scope.n<0);
	}
	$scope.setRndNumber();
    $scope.checkInput = function() {
		if ($scope.n == -1)
			  $scope.setRndNumber();
			  
		++$scope.i;
		var num = form.input.value;
		num=Math.ceil(num);
		if (num>=1 && num<=100) {
			if (num == $scope.n) {
				location.href="#victory";
				if ($scope.i==1)
					alert('         Congratulations!\nYou have won with the first attempt!')
				else {
					suffix = ($scope.i>1) ? 's': '';
					alert('You have used ' + $scope.i + ' attempt' + suffix)
					};
				}
			else {
				if ($scope.i==8) {
					alert("You had 8 attempts, but...\nyou did't guess the number " + $scope.n);
					if (confirm('Want to play again?'))
						$scope.reload();
					else
						window.top.close();
					}
				else {
					if (num>$scope.n) {
						location.href="#greater";
						form.input.focus()
						};
					if (num<$scope.n) {
						location.href="#littler";
						form.input.focus()
						};
					}
				};
			form.reset ();
		}
		else {
			alert('The number should be between 1 and 100.');
			form.reset ();
			location.href="#/";
			form.input.focus()
			--$scope.i;
		}
    }
    $scope.showSavedNumber = function() {
    		alert('The number to guess is ' + $scope.n);

    	form.input.focus();
    }
    $scope.reload = function() {
		location.href="#/";
		$scope.setRndNumber();
		$scope.i = 0;
	}
});
</script>
</body>
</html>